/* NAV */

.nav {
    background-color: rgb(221, 203, 164);;
}

.bottom-nav {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

/* INTRO */

.name, .subname {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.name {
    font-family: 'Shrikhand', cursive;
    font-size: 50px;
    margin-top: 70px;
}

.subname {
    color: #53a258;
    font-size: 25px;
    font-style: bold;
}

.intro {
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    margin: 100px;
}

.intro-img {
    max-width: 400px;
}

.intro-sub {
    display: flex;
    align-items: center; /* relative to vertical */
    padding: 25px;
    font-size: 30px;
    color: #53a258;
}

/* BODY */

.body {
    margin: 65px;
}

.recipe {
    max-width: 850px;
}

li {
    font-weight: bolder;
    font-size: x-large;
}

.header {
    max-width: 50vw;
    max-height: 50vh;
}

/* CIRCULAR PHOTOS, RESPONSIVE */

img.round {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}

.side-by-side {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px;
}

.dishes {
    display: flex;
    flex-flow: column wrap; /* the flexbox item has to be a column to display things below it vertically */
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 20px;
}

/* TEXT STYLING */

* {
    font-family: 'Ibarra Real Nova', serif;
    color:rgb(57, 65, 80)
}

.title {
    background-color: rgb(221, 203, 164);
    color: white;
    font-size: 40px;
    display: flex;
    text-align: left;
    padding: 20px;
    font-family: 'Shrikhand', cursive;
}

.banner-text {
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 100px;
}

.menu {
    font-size: 25px;
    font-family: 'Shrikhand', cursive;
    color: #53a258;
}

.instructions {
    padding: 50px;
    margin: 50px;
    border: solid 3px #53a258;
}

a.link {
    color: #53a258;
    font-size: 20px;
}



/* FOOTER */

.bottom-nav a {
    color:#53a258;
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: row wrap;
    background-color: rgb(221, 203, 164);
    padding: 50px;
}

footer a {
    font-size: 25px;
    color: #000;
}

/* MEDIA QUERY */

@media only screen and (max-width: 600px) {
    .intro {
        display: flex;
        flex-wrap: column wrap;
        font-size: 12px;
    }